:root {
  --black: #2e2c2f;
  --primaryColor: #1f1235;
  --secondaryColor: #1b1425;
  --highlight: #ff6e6c;
  --pink: #90708c;
  --white: #f4effc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--primaryColor);
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white);
}

.container {
  width: 80vw;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

button:hover {
  color: var(--primaryColor);
}

.cta {
  border: none;
  padding: 0.5rem 2rem;
  background: var(--highlight);
  border-radius: 2rem;
  color: #fff;
  cursor: pointer;
}

.cta:hover {
  color: var(--primaryColor);
}

.section-header {
  font-size: 2rem;
  padding: 2rem 0;
}

.input-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: var(--secondaryColor);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
