.module-list {
  position: relative;
  display: grid;
  justify-content: center;
}

.module-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 40rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.module-table thead tr {
  background-color: var(--primaryColor);
  color: #ffffff;
  text-align: left;
}

.module-table th,
.module-table td {
  padding: 12px 15px;
}

.module-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.module-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.module-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primaryColor);
}

.module-icon {
  cursor: pointer;
  color: var(--primaryColor);
}

.module-icon:hover {
  color: var(--highlight);
}
